 @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,700&family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,500;1,600&family=Oswald:wght@300;400;500;600&family=Poppins:wght@400;500;600;700&family=Smokum&family=Work+Sans:wght@400;500;600;700&display=swap');

 /*common css*/
 body {
   font-family: 'Poppins', sans-serif;
 }

 :root {
   --primary-font: #3A3A3A;
   --secondery-color: #18191F;
 }

 .btn-primary {
   display: inline-flex;
   padding: 10px 15px 10px 24px;
   align-items: flex-start;
   gap: 8px;
   border-radius: 41px;
   background: #E02C6D;
   font-weight: 700;
   border: none;
   color: #fff;
 }

 /*nav css start*/
 .navbar-part-container {
   padding: 3rem 6rem;
 }

 .navbar-part {
   display: flex;
   justify-content: space-between;
   align-items: center;
   /* text-align: center; */
 }

 .navbar-logo {
   color: var(--primary-font);
   font-size: 1.50rem;
 }

 .navbar {
   display: flex;
 }

 .navbar li,
 i {
   /* display: inline-block; */
   list-style: none;
   margin-right: 2rem;
 }

 .navbar li a {
   text-decoration: none;
   color: var(--primary-font);
   font-weight: 600;
   padding: 5px;
 }

 /*nav css end*/
 /*journey part css start*/
 .journey-part-container {
   padding: 0 120px;
 }

 .journey-part {
   display: flex;
 }

 .journey-title {
   color: var(--primary-font);
   font-size: 3.25rem;
   font-weight: 700;
   margin-bottom: 0;
 }

 .journey-disc {
   color: var(--primary-font);
   font-weight: 600;
 }

 .journey-image img {
   background-image: url(../images/Circle\ design.svg);
   /* background-size: 80%; */
 }

 /*journey part css end*/
 /*icon part start*/
 .icon-part-container {
   padding: 120px 220px;
   /* gap: 20px; */
   /* display: flex;
  align-items: center; */
 }

 .icon-part {
   display: flex;
   align-items: center;
   gap: 40px;
 }

 /*icon part end*/

 /*collection part start*/
 .collection-part-container{
  max-width: 1440px;
  padding: 20px 170px;
  /* margin: 0 auto 50px; */
 }
 .collection-title {
   color: var(--primary-font);
   font-size: 1.60rem;
   font-weight: 600;
   text-align: center;
 }
 .collection-part{
  /* background-color: #f2f2f2; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* padding: 10px; */
 }
 .collection{
  width: 300px;
  height: 450px;
  border: 3px solid #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
  background-color: #fff;
  margin-bottom: 20px; 
  padding: 6px;

 }
 .collection .collection-heading{
  color: var(--secondery-color);
  font-size: 1.6rem;
  font-weight: 500;
  margin: 0;
 }
 .collection .collection-price{
  color: rgba(0, 0, 0, 0.87);
  font-size: 1.50rem;
  margin: 0;
 }
 .collection-icon i{
  margin: 0;
  color: #FB8200;
 }
 .collection-disc{
  width: 190px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  color: #787885;
 }

 /*collection part end*/

 /*responsive css*/
 @media screen and (max-width: 576px) {
   .navbar-part-container {
     padding: 10px;
   }

   .navbar {
     margin: 0;
     padding: 0;
     align-items: center;
   }

   .navbar-part {
     flex-direction: column;
   }

   .navbar li,
   i {
     margin-right: 5px;
   }

   .journey-part-container {
     padding: 20px;
     text-align: center;
   }

   .journey-part {
     flex-direction: column-reverse;
   }

   .journey-image img {
     background-size: 100%;
     background-repeat: no-repeat;
     width: 80%;
   }

   .icon-part-container {
     padding: 10px;
     display: flex;
     text-align: center;
   }

   .icon-part {
     display: inline;
   }

   .icon-part img {
     /* width: 20%; */
     padding: 10px 10px;
   }
   .collection-part-container{
    padding: 10px 20px;
   }
   .collection-part{
    grid-template-columns: 1fr;
   }
 }

 @media screen and (min-width: 576px) and (max-width: 960px) {
   .navbar-part-container {
     padding: 10px;
   }

   .navbar {
     margin: 0;
     padding: 0;
     align-items: center;
   }

   .navbar-part {
     flex-direction: column;
   }

   .navbar li,
   i {
     margin-right: 5px;
   }

   .journey-part-container {
     padding: 20px;
     text-align: center;
   }

   .journey-part {
     flex-direction: column-reverse;
   }

   .journey-image img {
     background-size: 100%;
     background-repeat: no-repeat;
     width: 80%;
   }

   .icon-part-container {
     padding: 10px;
     display: flex;
     text-align: center;
   }

   .icon-part {
     display: inline;
   }

   .icon-part img {
     /* width: 20%; */
     padding: 10px 10px;
   }
   .collection-part-container{
    padding: 10px 20px;
    box-sizing: border-box;
   }
   .collection-part{
    grid-template-columns: repeat(1, 1fr);
   }

 }